# Ignore all .env files in any folder
**/.env

# Node/npm artifacts
client/node_modules/
client/.npmrc

# Go build binary
server/ladle

# Docker Compose override or local files
infrastructure/docker/*.envrc

# Node modules (for the frontend)
client/node_modules/
*.npmrc

# Build artifacts
client/public/build/
server/*.exe
server/*.out
server/tmp/
server/ladle

# Docker-related files
*.log
*.pid

# IDE-specific files
.vscode/
.idea/

# Terraform
*.tfstate
*.tfstate.backup
*.tfplan
*tfplan
*.tfvars
*.tfstate*
**/.terraform/
**/.terraform/

# Private notes
.notes.md

# macOS Finder metadata
**/.DS_Store
